<!DOCTYPE html>
<html>
<head>
    {%  block style %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"/>
        <!-- Web Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'/>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen"/>
        <!-- Font Awesome CSS -->
        <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" media="screen"/>
        <!-- Animate css -->
        <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet"/>
        <!-- Magnific css -->
        <link href="{{ asset('assets/css/magnific-popup.css') }}" rel="stylesheet"/>
        <!-- Custom styles CSS -->
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" media="screen"/>
        <!-- Responsive CSS -->
        <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

            <link rel="shortcut icon" href="{{ asset('assets/images/ico/favicon.png') }}">
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/images/ico/apple-touch-icon-144-precomposed.png') }}"/>
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/images/ico/apple-touch-icon-114-precomposed.png') }}"/>
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/images/ico/apple-touch-icon-72-precomposed.png') }}"/>
            <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/images/ico/apple-touch-icon-57-precomposed.png') }}"/>
        <style type="text/css">
            nav{
                background-color: #424242 !important;
            }
        </style>
    {% endblock %}

    {% block head %}
        <title>
            {% block title %}{% endblock %}
        </title>
    {% endblock %}
</head>
<body>
{% block body %}


    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}
<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript"></script>
<!-- Javascript files -->
<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.sticky.js') }}"></script>
<script src="{{ asset('assets/js/smoothscroll.js') }}"></script>
<script src="{{ asset('assets/js/wow.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.countTo.js') }}"></script>
<script src="{{ asset('assets/js/jquery.inview.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.easypiechart.js') }}"></script>
<script src="{{ asset('assets/js/jquery.shuffle.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script src="{{ asset('assets/js/jquery.fitvids.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2PTivIHX6BQz9ti82G5Q5h3LYauWlR-E"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>


</body>
</html>