
{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    {{ parent() }}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>I AM CLEMENT RIBOURT RESPONSIVE CV</title>


        <![endif]-->

        <link rel="shortcut icon" href="{{ asset('assets/images/ico/favicon.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/images/ico/apple-touch-icon-144-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/images/ico/apple-touch-icon-114-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/images/ico/apple-touch-icon-72-precomposed.png') }}"/>
        <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/images/ico/apple-touch-icon-57-precomposed.png') }}"/>

    </head>
    <body>
    <!-- Preloader -->
    <div id="tt-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>

    <!-- Home Section -->
    <section id="home" class="tt-fullHeight" data-stellar-vertical-offset="50" data-stellar-background-ratio="0.2">
        <div class="intro">
            <div class="intro-sub">Je suis Clément Ribourt</div>
            <h1>étudiant <span>informatique</span></h1>
            <p>Je suis en deuxième année d'étude chez Ingésup pour l'obtention d'un Master en informatique<br> Je suis au contact des dernières technologies et je suis orienté en développement web <br> </p>


        </div>

        <div class="mouse-icon">
            <div class="wheel"></div>
        </div>
    </section><!-- End Home Section -->




    <!-- Navigation -->
    <header class="header">
        <nav class="navbar navbar-custom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#home">Accueil</a></li>
                        <li><a href="#about">A Propos</a></li>
                        <li><a href="#resume">Parcours</a></li>
                        <li><a href="#skills">Compétences</a></li>
                        <li><a href="#blog">Blog</a></li>
                    </ul>
                </div>

            </div><!-- .container -->
        </nav>
    </header><!-- End Navigation -->


    <!-- About Section -->
    <section id="about" class="about-section section-padding">
        <div class="container">
            <h2 class="section-title wow fadeInUp">A Propos</h2>

            <div class="row">

                <div class="col-md-4 col-md-push-8">
                    <div class="biography">
                        <div class="myphoto">
                            <img src="{{ asset('assets/images/moi.jpg') }}" alt="">
                        </div>
                        <ul>
                            <li><strong>Nom:</strong> Clément Ribourt</li>
                            <li><strong>Date de Naissance:</strong> 14 Janvier 1998</li>
                            <li><strong>Adresse:</strong> 43 Cours Georges Clemenceau Bordeaux</li>
                            <li><strong>Nationalité:</strong> Français</li>
                            <li><strong>Téléphone:</strong> 06 83 35 61 17</li>
                            <li><strong>Email:</strong> clement.ribourt@gmail.com</li>
                        </ul>
                    </div>
                </div> <!-- col-md-4 -->

                <div class="col-md-8 col-md-pull-4">
                    <div class="short-info wow fadeInUp">
                        <h3>Objectif</h3>
                        <p>Une opportunité de travailler et de s'améliorer, bien sûr être impliqué dans une organisation qui croie en gagner un avantage concurrenciel et le donner en retour à la communauté. Je suis en train d'agrandir mon expérience en codage. Je suis détérminé à utiliser mes compétences personnelles pour construire une bonne expérince pour l'utilisateur et créer un interêt profond de mon employé. J'espère développer mes compétences en codage web, et devenir un atout important pour le buisness.</p>
                    </div>

                    <div class="short-info wow fadeInUp">
                        <h3>Capacité </h3>
                        <p>J'ai travaillé en tant que stagiaire pour m'occuper de sites web. J'aime les design élégant, propre et moderne. J'ai de solides connaissances en HTML et CSS et je travail également avec du Javascript et du PHP. Je suis resposanble d'un site internet entièrement géré par un Wordpress pour une Epicerie Fine sur Bordeaux.</p>

                    </div>



                    <div class="download-button">
                        <a class="btn btn-primary btn-lg" href="{{ asset('assets/files/CV_Ribourt_Clément.pdf') }}" download="CV_Ribourt_Clément"><i class="fa fa-download"></i>Télécharger mon cv</a>
                    </div>
                </div>


            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section><!-- End About Section -->



    <!-- Resume Section -->
    <section id="resume" class="resume-section section-padding">
        <div class="container">
            <h2 class="section-title wow fadeInUp">Parcours</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="resume-title">
                        <h3>Scolaire</h3>
                    </div>
                    <div class="resume">
                        {% for Parcours in AllParcours %}
                        <ul class="timeline">
                            <li>
                                <div class="posted-date">
                                    <span class="month">{{ Parcours.anneedebut}}-{{ Parcours.anneefin }}</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>{{ Parcours.name }}</h3>
                                            <span>{{ Parcours.ecole }}</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>{{ Parcours.texte }}</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div><!-- /timeline-panel -->
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- /row -->


            <div class="row">
                <div class="col-md-12">
                    <div class="resume-title">
                        <h3>Expérience</h3>
                    </div>
                    <div class="resume">
                        {% for Experience in AllExperience %}
                        <ul class="timeline">
                            <li class="timeline-inverted">
                                <div class="posted-date">
                                    <span class="month">{{ Experience.anneedebut }}-{{ Experience.anneefin }}</span>
                                </div><!-- /posted-date -->

                                <div class="timeline-panel wow fadeInUp">
                                    <div class="timeline-content">
                                        <div class="timeline-heading">
                                            <h3>{{ Experience.name }}</h3>
                                            <span>{{ Experience.entreprise }}</span>
                                        </div><!-- /timeline-heading -->

                                        <div class="timeline-body">
                                            <p>{{ Experience.texte }}</p>
                                        </div><!-- /timeline-body -->
                                    </div> <!-- /timeline-content -->
                                </div> <!-- /timeline-panel -->
                            </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div><!-- /row -->
        </div><!-- /.container -->
    </section><!-- End Resume Section -->


    <!-- Skills Section -->
    <section id="skills" class="skills-section section-padding">
        <div class="container">
            <h2 class="section-title wow fadeInUp">Compétence</h2>

            <div class="row">
                {% for Competence in AllCompetence %}
                    <dv class="skill-progress">
                        <div class="skill-title"><h3>{{ Competence.competence }}</h3></div>
                        <div class="progress">
                            <div class="progress-bar six-sec-ease-in-out" role="progressbar" aria-valuenow="{{ Competence.nombre }}" aria-valuemin="0" aria-valuemax="100" ><span>{{ Competence.nombre }}%</span>
                            </div>
                        </div><!-- /.progress -->
                    </dv><!-- /.skill-progress -->
                {% endfor %}

            </div><!-- /.row -->

            <div class="skill-chart text-center">
                <h3>Plus de compétence</h3>
            </div>

            <div class="row more-skill text-center">
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="chart" data-percent="80" data-color="e74c3c">
                        <span class="percent"></span>
                        <div class="chart-text">
                            <span>Réflexion</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="chart" data-percent="60" data-color="2ecc71">
                        <span class="percent"></span>
                        <div class="chart-text">
                            <span>Creativité</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="chart" data-percent="68" data-color="3498db">
                        <span class="percent"></span>
                        <div class="chart-text">
                            <span>écoute</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="chart" data-percent="55" data-color="3498db">
                        <span class="percent"></span>
                        <div class="chart-text">
                            <span>Communication</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="chart" data-percent="70" data-color="3498db">
                        <span class="percent"></span>
                        <div class="chart-text">
                            <span>Compréhension</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="chart" data-percent="60" data-color="3498db">
                        <span class="percent"></span>
                        <div class="chart-text">
                            <span>Motivation</span>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.container -->
    </section><!-- End Skills Section -->


    <!-- Blog Section -->
    <section id="blog" class="latest-blog-section section-padding">
        <div class="container">
            <h2 class="section-title wow fadeInUp">Blog</h2>

            <div class="row">
                {% for BlogPost in BlogAffichage %}
                    <div class="col-sm-4">
                        <article class="blog-post-wrapper">
                            <div class="figure">
                                <div class="post-thumbnail">
                                    <a href="{{ path('show_blog', {'id': BlogPost.id}) }}"><img src="{{ asset('assets/images/blog/01.jpg') }}" class="img-responsive " alt=""></a>
                                </div>
                                <i class="fa fa-file-photo-o"></i>
                            </div><!-- /.figure -->
                            <header class="entry-header">
                                <div class="post-meta">
                  <span class="the-category">
                    <p>{{ BlogPost.category.name }}</p>
                  </span>
                                </div>
                                <h2 class="entry-title"><a href="#" rel="">{{ BlogPost.title }}</a></h2>
                                <hr>
                                <div class="entry-meta">
                                    <ul class="list-inline">
                                        <li>
                      <span class="the-author">
                        <p>{{ BlogPost.auteur }}</p>
                      </span>
                                        </li>
                                        <li>
                      <span class="the-time">
                        <p>{{ BlogPost.date|date('Y-m-d') }}</p>
                      </span>
                                        </li>

                                    </ul>
                                </div><!-- .entry-meta -->
                            </header><!-- .entry-header -->
                        </article>
                    </div><!-- /.col-sm-4 -->
                {% endfor %}
            </div><!-- /.row -->
            <div class="blog-more text-center">
                <a href="{{ path('blog') }}" class="btn btn-primary">Voir plus</a>
            </div>
        </div><!-- /.container -->
    </section><!-- End Blog Section -->






    <!-- Footer Section -->
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </footer><!-- End Footer Section -->


    <!-- Scroll-up -->
    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>


    </body>


{% endblock %}

